#page-content-wrapper .container table.table tr th:first-child{
	width:4%;
}

.commerce-cart table.cart td{
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #f4eede;
	padding: 30px 15px;
}

.adminShopItem-action-btn{
	float: right;
	display: inline-block;
}

.adminShopItem-action-btn input[type="button"]{
	width:80px;
	height:35px;
	margin: 0px 5px;
	margin-top: 15px;
}

.commerce form .form-row input.input-text{
    height:40px;
    font-size:23px;
    font-style: normal;
}