.widget-title{
	display: inline-block;
}

.round-button{
	position: fixed;
	bottom: 15px;
	right: 15px;
	width:60px;
	text-align: center;
	background-color: #79cba8;
	border-radius: 50%;
	transition: 0.2s background-color;
}

.round-button a{
	font-size: 30px;
	line-height: 60px;
	color: #fff;
}

.round-button:hover{
	background-color: #65a389;
}