<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="userInfoMapper">

	<!-- 기본 memberDTO -->
	<resultMap type="memberDTO" id="memberDto">
		<id column="member_email" property="email" />
		<result column="member_pwd" property="pwd" />
		<result column="member_name" property="name" />
		<result column="member_phone" property="phone" />
		<result column="donation_org_no" property="donationOrgNo" />
		<result column="member_recommand" property="recommand" />
		<result column="member_mileage" property="mileage"/>
	</resultMap>
	

<resultMap type="productDTO" id="productDto">
	<id column="product_no" property="no"/>
	<result column="product_name" property="name"/>
	<result column="product_price" property="price"/>
	<result column="producer_no" property="producerNo"/>
	<association property="producerDto" javaType="producerDTO">
		<id column="producer_no" property="no"/>
		<result column="producer_name" property="name"/>
	</association>
</resultMap>

<resultMap type="purchaseProductDTO" id="purchaseProductDto">
	<id column="purchase_no" property="purchaseNo"/>
	<result column="product_no" property="productNo"/>
	<result column="purchase_product_num" property="productNum"/>
	<association property="productDto" resultMap="productDto"></association>
</resultMap>

<resultMap type="purchaseDTO" id="purchaseDto1">
	<id column="purchase_no" property="no"/>
	<result column="purchase_date" property="date" />
	<result column="purchase_price" property="price"/>
	<result column="member_email" property="email"/>
	<result column="purchase_state_no" property="stateNo"/>
	<association property="purchaseStateDto" resultMap="purchaseStateDto" />
	<collection property="purchaseProductDto" resultMap="purchaseProductDto"/>
</resultMap>

<resultMap type="memberDTO" id="memberDtoJoin">
	<id column="member_email" property="email"/>
	<result column="donation_org_no" property="donationOrgNo"/>
	<association property="donationOrgDto" resultMap="donationOrgDto" />
	<collection property="purchaseDto" resultMap="purchaseDto1" />
</resultMap>

<resultMap type="donationOrgDTO" id="donationOrgDto">
	<id column="donation_org_no" property="donationOrgNo"/>
	<collection property="donationDto" resultMap="donationDto" />	
</resultMap>

<resultMap type="donationDTO" id="donationDto">
	<id column="donation_date" property="date"/>
	<result column="donation_org_no" property="donationOrgNo"/>
	<result column="donation_price" property="price"/>
</resultMap>
				
	
	<!-- 기본 ProductDTO ResultMap -->
	<resultMap type="productDTO" id="productResultMap">
		<id column="product_no" property="no"/>
		<result column="product_name" property="name"/>
		<result column="product_price" property="price"/>
		<result column="product_profile" property="profile"/>
		<result column="product_desc" property="desc"/>
		<result column="product_eval" property="eval"/>
		<result column="product_unit" property="unit"/>
		<result column="producer_no" property="producerNo"/>
		<result column="category_subcategory_no" property="subCategoryNo"/>
		
		<association property="purchaseProductDto" javaType="purchaseProductDto">
			<id column="purchase_no" property="purchaseNo"/>
			<result column="purchase_product_num" property="productNum"/>
			<result column="product_no" property="productNo"/>
		</association>
	</resultMap>
	
	<resultMap id="purchaseStateDto" type="purchaseStateDTO">
				<id column="purchase_state_no" property="no" />
				<result column="purchase_state_name" property="name" />
	</resultMap>
	
	<!-- 기본 ProducerDTO ResultMap -->
	<resultMap type="producerDTO" id="producerResultMap">
		<id column="producer_no" property="no"/>
		<result column="producer_name" property="name"/>
		<result column="producer_addr" property="addr"/>
		<result column="producer_phone" property="phone"/>
		<result column="producer_register_date" property="registerDate"/>
	</resultMap>
	
	<resultMap type="purchaseDTO" id="purchaseDto">
		<id column="purchase_no" property="no" />
			<result column="purchase_price" property="price" />
			<result column="purchase_date" property="date" />
			<result column="purchase_discount" property="discount"/>	
	</resultMap>
	
	<!-- 나의 질문목록  -->
	<resultMap type="qnaDto" id="getMyPageQnaList">
		<id column="qna_no" property="no"/>
		<result column="qna_name" property="name"/>
		<result column="qna_desc" property="desc"/>
		<result column="qna_register_date" property="registerdate"/>
		<result column="member_email" property="email"/>
		<result column="answer_state" property="answerState"/>
	</resultMap>
	
	<!-- 장바구니 로딩에 필요한 Result Map -->
	<resultMap type="productDto" id="productJoinCartResultMap">
		<id column="product_no" property="no"/>
		<result column="product_name" property="name"/>
		<result column="product_price" property="price"/>
		<result column="product_profile" property="profile"/>
		
		<association property="cartDto" javaType="cartDto">
			<result column="cart_num" property="num"/>
		</association>
	</resultMap>

	<!-- 회원가입 기부업체 번호는 어떻게 처리하지? 우선은 1로 직접입력 처리 -->
	<insert id="registerMember" parameterType="memberDTO">
		insert into member values(#{email},#{pwd},#{name},#{phone},sysdate,0,#{recommand},1)
	</insert>
	
	<!-- 회원가입시 추천인을 입력하지 않은 경우 -->
	<insert id="registerMemberRecommand" parameterType="memberDTO">
		insert into member values(#{email},#{pwd},#{name},#{phone},sysdate,0, null ,1)
	</insert>

	<!-- 계정찾기(id) / 중복확인 -->
	<select id="searchId" parameterType="memberDTO" resultType="string">
		select member_email from member where member_name=#{name} and member_phone=#{phone}
	</select>

	<!-- 계정찾기(pwd-sendcode) -->
	<select id="searchPwdSendCode" parameterType="String" resultMap="memberDto">
		select member_email from member where member_email=#{email}
	</select>

	<!-- 계정찾기(pwd) -->
	<select id="searchPwd" parameterType="String" resultType="String">
		select member_pwd from member where member_email=#{email}
	</select>

	<!-- 로그인 -->
	<select id="login" parameterType="memberDto" resultMap="memberDto">
		select member_email,member_pwd from member
		where member_email=#{email} and member_pwd=#{pwd}
	</select>
	
	<!-- 로그인 성공 후 생산자정보,기부금액,인기상품 가져오기 -->
	<!-- 생산자 정보 가져오기 (판매하고있는 상품들의 평균 평점이 가장 높은 순서대로)-->
	<select id="getBestProducer" resultType="integer">
	select producer.producer_no
	from product, producer where product.producer_no = producer.producer_no 
	group by producer.producer_no order by avg(product.product_eval) desc
	</select>
	<!-- 인기상품 가져오기 (테스트완료)-->
	<select id="getBestProduct" resultType="integer">
	select purchase_product.product_no 
	from purchase, purchase_product 
	where purchase.purchase_no = purchase_product.purchase_no group by purchase_product.product_no order by count(purchase_product.product_no) desc
	</select>
	<!-- 기부금액 가져오기(저번달꺼만) -->
	<select id="getPreviousDonationPrice" resultType="integer">
	select donation_price from donation order by donation_date desc
	</select>
	<!-- 상품번호(productNo)로 상품DTO(ProductDTO) 가져오기 (테스트완료)-->
	<select id="getProductByProductNo" resultMap="productResultMap" parameterType="integer">
	select * from product where product_no = #{value}
	</select>
	<!-- 생산자번호(producerNo)로 Producer DTO 가져오기 -->
	<select id="getProducerByProducerNo" resultMap="producerResultMap" parameterType="integer">
	select * from producer where producer_no = #{value}
	</select>
		

	<!-- id 중복확인 / 추천인 id 중복확인 -->
	<select id="checkId" parameterType="String" resultMap="memberDto">
		select member_email from member where member_email=#{mail}
	</select>

	<!-- 내정보(MyPage) -->
	
	<!-- 마일리지 / 진행중인 주문내역 가져오기 -->
	<select id="getMileage" parameterType="String" resultType="int">
		select member_mileage from member where member_email=#{email}
	</select>
	<select id="getOrderlist" parameterType="String" resultMap="memberDtoJoin">
		select pc.purchase_date,pdt.product_name,pdt.product_price,pp.purchase_product_num,pdc.producer_name
		from member m, purchase pc, product pdt, purchase_product pp, producer pdc
		where m.member_email=pc.member_email and pc.purchase_no=pp.purchase_no and pp.product_no=pdt.product_no and
			pdt.producer_no=pdc.producer_no and m.member_email=#{email}
	</select>


	<!-- 주문/배송 조회  -->

	<!-- 3개월 -->
	<select id="getMypageOrderList3" resultMap="memberDtoJoin" parameterType="String">
		select pc.purchase_no,pc.purchase_date,pdt.product_name,pdt.product_price,pp.purchase_product_num,pdc.producer_name,ps.purchase_state_name
		from purchase pc , product pdt, producer pdc, purchase_product pp, purchase_state ps
		where pc.purchase_no=pp.purchase_no and pp.product_no=pdt.product_no and pdt.producer_no=pdc.producer_no and
		pc.purchase_state_no=ps.purchase_state_no and member_email=#{email} and pc.purchase_date between (select sysdate -90 m_day from dual) and sysdate
	</select>

	<!-- 6개월 -->
	<select id="getMypageOrderList6" resultMap="memberDtoJoin" parameterType="String">
		select pc.purchase_no,pc.purchase_date,pdt.product_name,pdt.product_price,pp.purchase_product_num,pdc.producer_name,ps.purchase_state_name
		from purchase pc , product pdt, producer pdc, purchase_product pp, purchase_state ps
		where pc.purchase_no=pp.purchase_no and pp.product_no=pdt.product_no and pdt.producer_no=pdc.producer_no and
		pc.purchase_state_no=ps.purchase_state_no and member_email=#{email} and pc.purchase_date between (select sysdate -180 m_day from dual) and sysdate
	</select>
		
	<!-- 1년 -->
	<select id="getMypageOrderList12" resultMap="memberDtoJoin" parameterType="String">
		select pc.purchase_no,pc.purchase_date,pdt.product_name,pdt.product_price,pp.purchase_product_num,pdc.producer_name,ps.purchase_state_name
		from purchase pc , product pdt, producer pdc, purchase_product pp, purchase_state ps
		where pc.purchase_no=pp.purchase_no and pp.product_no=pdt.product_no and pdt.producer_no=pdc.producer_no and
		pc.purchase_state_no=ps.purchase_state_no and member_email=#{email} and pc.purchase_date between (select sysdate -365 m_day from dual) and sysdate
	</select>

	<!-- 전체 -->
	<select id="getMypageOrderListAll" resultMap="memberDtoJoin" parameterType="String">
		select pc.purchase_no,pc.purchase_date,pdt.product_name,pdt.product_price,pp.purchase_product_num,pdc.producer_name,ps.purchase_state_name
		from purchase pc , product pdt, producer pdc, purchase_product pp, purchase_state ps
		where pc.purchase_no=pp.purchase_no and pp.product_no=pdt.product_no and pdt.producer_no=pdc.producer_no and
		pc.purchase_state_no=ps.purchase_state_no and member_email=#{email} 
	</select>
	
	
	<!-- 취소/반품/교환 내역 조회 -->

	<!-- 3개월 -->
	<select id="getMyPageCancerList3" resultMap="memberDtoJoin" parameterType="String">
		select pc.purchase_date,pc.purchase_no,pdt.product_name,pdt.product_price,pp.purchase_product_num,pdc.producer_name,ps.purchase_state_name
		from member m, purchase pc , purchase_product pp, purchase_state ps, product pdt, producer pdc
		where m.member_email=pc.member_email and pc.purchase_no=pp.purchase_no and pc.purchase_state_no=ps.purchase_state_no and
			pp.product_no=pdt.product_no and pdt.producer_no=pdc.producer_no and m.member_email=#{email} and ps.purchase_state_no &gt;3 and
			pc.purchase_date between (select sysdate -90 m_day from dual) and sysdate
	</select>
	
	<!-- 6개월 -->
	<select id="getMyPageCancerList6" resultMap="memberDtoJoin"	parameterType="String">
		select pc.purchase_date,pc.purchase_no,pdt.product_name,pdt.product_price,pp.purchase_product_num,pdc.producer_name,ps.purchase_state_name
		from member m, purchase pc , purchase_product pp, purchase_state ps, product pdt, producer pdc
		where m.member_email=pc.member_email and pc.purchase_no=pp.purchase_no and pc.purchase_state_no=ps.purchase_state_no and
		pp.product_no=pdt.product_no and pdt.producer_no=pdc.producer_no and m.member_email=#{email} and ps.purchase_state_no>3 and
		pc.purchase_date between (select sysdate -180 m_day from dual) and sysdate
	</select>
	
	<!-- 1년 -->
	<select id="getMyPageCancerList12" resultMap="memberDtoJoin" parameterType="String">
		select pc.purchase_date,pc.purchase_no,pdt.product_name,pdt.product_price,pp.purchase_product_num,pdc.producer_name,ps.purchase_state_name
		from member m, purchase pc , purchase_product pp, purchase_state ps, product pdt, producer pdc
		where m.member_email=pc.member_email and pc.purchase_no=pp.purchase_no and pc.purchase_state_no=ps.purchase_state_no and
			pp.product_no=pdt.product_no and pdt.producer_no=pdc.producer_no and m.member_email=#{email} and ps.purchase_state_no>3 and
			pc.purchase_date between (select sysdate -365 m_day from dual) and sysdate
	</select>
	
	<!-- 전체 -->
	<select id="getMyPageCancerListAll" resultMap="memberDtoJoin" parameterType="String">
		select pc.purchase_date,pc.purchase_no,pdt.product_name,pc.purchase_price,pp.purchase_product_num,pdc.producer_name,ps.purchase_state_name
		from member m, purchase pc , purchase_product pp, purchase_state ps, product pdt, producer pdc
		where m.member_email=pc.member_email and pc.purchase_no=pp.purchase_no and
			pc.purchase_state_no=ps.purchase_state_no and pp.product_no=pdt.product_no and pdt.producer_no=pdc.producer_no and
			m.member_email=#{email} and ps.purchase_state_no>3
	</select>

	<!-- 환불내역 -->
	
	<!-- 3개월 -->
	<select id="getMyPageRefundList3" resultMap="memberDtoJoin" parameterType="String">
		select pc.purchase_date,pc.purchase_no,pdt.product_name,pdt.product_price,pp.purchase_product_num,pdc.producer_name
		from member m, purchase pc , purchase_product pp, purchase_state ps, product pdt, producer pdc
		where m.member_email=pc.member_email and pc.purchase_no=pp.purchase_no and pc.purchase_state_no=ps.purchase_state_no and
		pp.product_no=pdt.product_no and pdt.producer_no=pdc.producer_no and m.member_email=#{email} and ps.PURCHASE_STATE_NO=3 and
		pc.purchase_date between (select sysdate -90 m_day from dual) and sysdate
	</select>
	
	<!-- 6개월 -->
	<select id="getMyPageRefundList6" resultMap="memberDtoJoin" parameterType="String">
		select pc.purchase_date,pc.purchase_no,pdt.product_name,pc.purchase_price,pp.purchase_product_num,pdc.producer_name
		from member m, purchase pc , purchase_product pp, purchase_state ps, product pdt, producer pdc
		where m.member_email=pc.member_email and pc.purchase_no=pp.purchase_no and pc.purchase_state_no=ps.purchase_state_no and
		pp.product_no=pdt.product_no and pdt.producer_no=pdc.producer_no and m.member_email=#{email} and ps.PURCHASE_STATE_NO=3 and
		pc.purchase_date between (select sysdate -180 m_day from dual) and sysdate
	</select>
	
	<!-- 1년 -->
	<select id="getMyPageRefundList12" resultMap="memberDtoJoin" parameterType="String">
		select pc.purchase_date,pc.purchase_no,pdt.product_name,pc.purchase_price,pp.purchase_product_num,pdc.producer_name
		from member m, purchase pc , purchase_product pp, purchase_state ps, product pdt, producer pdc
		where m.member_email=pc.member_email and pc.purchase_no=pp.purchase_no and pc.purchase_state_no=ps.purchase_state_no and
		pp.product_no=pdt.product_no and pdt.producer_no=pdc.producer_no and m.member_email=#{email} and ps.PURCHASE_STATE_NO=3 and
		pc.purchase_date between (select sysdate -365 m_day from dual) and sysdate
	</select>
	
	<!-- 전체 -->
	<select id="getMyPageRefundListAll" resultMap="memberDtoJoin" parameterType="String">
		select pc.purchase_date,pc.purchase_no,pdt.product_name,pc.purchase_price,pp.purchase_product_num,pdc.producer_name
		from member m, purchase pc , purchase_product pp, purchase_state ps, product pdt, producer pdc
		where m.member_email=pc.member_email and pc.purchase_no=pp.purchase_no and pc.purchase_state_no=ps.purchase_state_no and
		pp.product_no=pdt.product_no and pdt.producer_no=pdc.producer_no and m.member_email=#{email} and ps.PURCHASE_STATE_NO=3
	</select>
	
	<!-- 내정보- 마일리지 관리 -->
	
	<!-- 추천인 아이디 5개 가지고 오기 -->
	<select id="getMyPageRecommander" resultMap="memberDto" parameterType="String">
	   select member_email from member where member_recommand=#{email}
	</select>
	
	<!-- 마일리지 사용내역 조회 -->
	
	<!-- 3개월 -->
	<select id="searchMyMileage3" resultType="purchaseDto" parameterType="String">
	   select pdt.product_name, pc.purchase_date,pc.purchase_discount
	   from member m, product pdt, purchase pc, purchase_product pp
       where m.member_email=pc.member_email and pc.purchase_no=pp.purchase_no and pp.product_no=pdt.product_no and
             m.member_email=#{email} and pc.purchase_date between (select sysdate -90 m_day from dual) and sysdate
	</select>
	<!-- 6개월 -->
	<select id="searchMyMileage6" resultType="purchaseDto" parameterType="String">
	   select pdt.product_name, pc.purchase_date,pc.purchase_discount
	   from member m, product pdt, purchase pc, purchase_product pp
       where m.member_email=pc.member_email and pc.purchase_no=pp.purchase_no and pp.product_no=pdt.product_no and
             m.member_email=#{email} and pc.purchase_date between (select sysdate -180 m_day from dual) and sysdate
	</select>
	
	<!-- 1년 -->
	<select id="searchMyMileage12" resultType="purchaseDto" parameterType="String">
	   select pdt.product_name, pc.purchase_date,pc.purchase_discount
	   from member m, product pdt, purchase pc, purchase_product pp
       where m.member_email=pc.member_email and pc.purchase_no=pp.purchase_no and pp.product_no=pdt.product_no and
             m.member_email=#{email} and pc.purchase_date between (select sysdate -365 m_day from dual) and sysdate
	</select>
	
	<!-- 전체 -->
	<select id="searchMyMileageAll" resultType="purchaseDto" parameterType="String">
	   select pdt.product_name, pc.purchase_date,pc.purchase_discount
	   from member m, product pdt, purchase pc, purchase_product pp
       where m.member_email=pc.member_email and pc.purchase_no=pp.purchase_no and pp.product_no=pdt.product_no and
             m.member_email=#{email}
	</select>
	
	

	<!-- 주문/조회 상태에서 주문완료된 상품을 삭제할 때 -->
	<delete id="deleteOrderList" parameterType="int">
		delete from purchase
		where purchase_no=#{no} and purchase_state_no=1
	</delete>
	
	<!-- 내정보 - 나의질문내역 가져오기 -->
	<select id="getMyPageQnaList" parameterType="String" resultMap="getMyPageQnaList">
		select qna_name,qna_desc,qna_register_date,answer_state from qna where answer_state is not null and member_email=#{email}
	</select>
	
	<!-- 내정보 - 질문내역에 해당하는 답글 가져오기 -->
	<select id="getQnaAnswer" resultType="String" parameterType="int">
		select qna_desc from qna where qna_parent=#{no}
	</select>
	
	<!-- 내정보 - donation(donation_price, donation_date, product_name) -->
	<select id="getMyPageDonationInfo" resultMap="memberDtoJoin" parameterType="String">
	   select pc.purchase_price,pc.purchase_date, pdt.product_name
	   from member m, product pdt, purchase pc, purchase_product pp
	   where  m.member_email=pc.member_email and pc.purchase_no= pp.purchase_no and pp.product_no=pdt.product_no and m.member_email=#{email}
	</select>
	
	<!-- 내정보 - donation(회원의 총 기부금액) -->
	<select id="getMyPageTotalDonationInfo" resultType="int" parameterType="String">
	   select  sum(purchase_price*0.05) from purchase where member_email=#{email}
	</select>
	
	<!-- 내정보 - 개인정보 관리 -->
	<select id="getUserInfo" resultMap="memberDto" parameterType="String">
		select * from member where member_email=#{email}
	</select>
	
	<update id="updateUserInfo" parameterType="memberDTO">
		update member set member_pwd=#{pwd},member_phone=#{phone} where member_email=#{email} and member_name=#{name}
	</update>
		
	<!-- 장바구니 로딩시 -->
	<select id="MyCartLoading" parameterType="String" resultMap="productJoinCartResultMap">
		select p.product_no, p.product_profile, p.product_name, p.product_price, c.cart_num
		from product p, cart c
		where p.product_no = c.product_no and c.member_email = #{value}
	</select>
	<!-- 카트에 담긴 상품들의 총 합 -->
	<select id="getTotalPriceInCart"  resultType="integer" parameterType="String">
		select sum(cart.cart_num * product.product_price) from cart, product where cart.product_no = product.product_no and member_email = '박용우'
	</select>
	
	<!-- 카트안에 상품 지우기 -->
	<delete id="deleteMyCartProduct" parameterType="map">
		delete from cart ca
		where ca.member_email=(select m.member_email from member m where m.member_email=#{email}) 
		      and ca.product_no=(select pdt.product_no from product pdt where pdt.product_name=#{name})
	</delete>
	


</mapper>