<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userEtcMapper">

<!-- 기본 CommunityDTO ResultMap -->
<resultMap type="communityDTO" id="communityResultMap">
	<id column="community_no" property="no"/>
	<result column="community_name" property="name"/>
	<result column="community_profile" property="profile"/>
	<result column="community_desc" property="desc"/>
	<result column="community_register_date" property="registerDate"/>
	<result column="community_state" property="state"/>
</resultMap>

<resultMap type="qnaDTO" id="qnaResultMap">
	<id column="qna_no" property="no"/>
	<result column="qna_name" property="name"/>
	<result column="qna_desc" property="desc"/>
	<result column="qna_pwd" property="pwd"/>
	<result column="qna_register_date" property="registerdate"/>
	<result column="member_email" property="email"/>
	<result column="qna_qnaParent" property="qnaParent"/>
	
</resultMap>
<!-- 1. 모임목록 불러오기  -->
<!-- 	1-1.6개의 현재 진행하는 행사를 가져온다. -->
<select id="getCommunityIng" resultMap="communityResultMap" parameterType="communityDTO">
<!-- 	SELECT * FROM community WHERE rownum <= 6 and #{community_state}= 0
 --></select>

<!-- 	1-2.3개의 과거진행하는 행사를 가져온다. -->
<select id="getCommunityPast" resultMap="communityResultMap" parameterType="communityDTO">
<!-- 	SELECT * FROM community WHERE rownum <= 6 and #{community_state}= 1
 --></select>

<!-- 2. 모임 상세 보기 -->
<!-- 2-1. 처음에 보여질 모임에 해당하는 profile 사진을 업로드 한다. request에서 넘어오는 community_no정보를 받아 그 번호에 해당하는 prfile이미지를 불러온다. -->
<select id="getCommunityProfile" parameterType="int" resultType="String"> 
	select community_profile from community where community_no=#{value} 
</select>

<!-- 2-2. 화면 밑에는 댓글에 해당하는 댓글 내용이 다 출력되어진다. -->
<select id="getCommunityComment" parameterType="int" resultMap="communityCommentResultMap">
	select * from community_comment,community where community.community_no=#{value} and community.community_no=community_comment.community_no
 </select>

<!-- 2-3. 1-1을 다시 불러온다 -->

<!-- 3. Q&A게시판 클리하면 Q&A목록 불러오기-->
<select id="qnaResultMap" resultMap="qnaDTO">
	select * from qna order by product_no desc	
</select>


	
</mapper>